<h1>Listing machines</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Url</th>
    <th>Type</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%= machine.status %></td>
    <td><%= machine.url %></td>
    <td><%= machine.type %></td>
    <td><%= machine.created_at %></td>
    <td><%= machine.updated_at %></td>
    <td><%= link_to 'Show', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Destroy', 'machines/'+machine.id.to_s+'/destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine', new_machine_path %>
